<?xml version="1.0" encoding="utf-8" ?>
<config>
  <customsGoodsDeclUrl>FormatName:Direct=TCP:192.168.67.2\private$\LITB_GOODS_APL</customsGoodsDeclUrl>
  <customsManifestDeclUrl>FormatName:Direct=TCP:192.168.67.2\private$\LITB_DECL_APL</customsManifestDeclUrl>
  <customsOrderDeclUrl>FormatName:Direct=TCP:192.168.67.2\private$\LITB_ORDER_APL</customsOrderDeclUrl>
  <customsGoodsRespUrl>FormatName:Direct=TCP:192.168.67.2\private$\LITB_GOODS_RESP_APL</customsGoodsRespUrl>
  <customsManifestRespUrl>FormatName:Direct=TCP:192.168.67.2\private$\LITB_DECL_RESP_APL</customsManifestRespUrl>
  <customsOrderRespUrl>FormatName:Direct=TCP:192.168.67.2\private$\LITB_ORDER_RESP_APL</customsOrderRespUrl>

  <govGoodsDeclUrl>FormatName:Direct=TCP:192.168.67.2\private$\GOV_LITB_GOODS_APL</govGoodsDeclUrl>
  <govManifestDeclUrl>FormatName:Direct=TCP:192.168.67.2\private$\GOV_LITB_DECL_APL</govManifestDeclUrl>
  <govOrderDeclUrl>FormatName:Direct=TCP:192.168.67.2\private$\GOV_LITB_ORDER_APL</govOrderDeclUrl>
  <govGoodsRespUrl>FormatName:Direct=TCP:192.168.67.2\private$\GOV_LITB_GOODS_RESP_APL</govGoodsRespUrl>
  <govManifestRespUrl>FormatName:Direct=TCP:192.168.67.2\private$\GOV_LITB_DECL_RESP_APL</govManifestRespUrl>
  <govOrderRespUrl>FormatName:Direct=TCP:192.168.67.2\private$\GOV_LITB_ORDER_RESP_APL</govOrderRespUrl>

  <sendHelper>
    <government>
      <password>pwd</password>
    </government>
  </sendHelper>
  

  <responseHelper>
    <customs>
      <goods>
        <ns>urn:Declaration:datamodel:standard:CN:NJHGKJ_100:1</ns>
        <outId>XmlMessage/Response/EX_GOODS_INFO/OUT_ID</outId>
        <recMsgId>XmlMessage/MessageHead/MessageID</recMsgId>
      </goods>
      <manifest>
        <ns>urn:Declaration:datamodel:standard:CN:NJHGKJ_110:1</ns>
        <outId>XmlMessage/Response/EX_DECL_HEAD/OUT_DECL_NO</outId>
        <recMsgId>XmlMessage/MessageHead/MessageID</recMsgId>
      </manifest>
      <order>
        <ns>urn:Declaration:datamodel:standard:CN:NJHGKJ_120:1</ns>
        <outId>XmlMessage/Response/ORDER_FORM_HEAD/ORG_ORDER_NO</outId>
        <recMsgId>XmlMessage/MessageHead/MessageID</recMsgId>
      </order>
    </customs>
    
    <government>
      <goods>
        <ns>urn:Declaration:datamodel:standard:CN:NJHGKJ_100:1</ns>
        <outId>XmlMessage/Response/EX_GOODS_INFO/OUT_ID</outId>
        <recMsgId>XmlMessage/MessageHead/MessageID</recMsgId>
      </goods>
      <manifest>
        <ns>urn:Declaration:datamodel:standard:CN:NJHGKJ_110:1</ns>
        <outId>XmlMessage/Response/EX_DECL_HEAD/OUT_DECL_NO</outId>
        <recMsgId>XmlMessage/MessageHead/MessageID</recMsgId>
      </manifest>
      <order>
        <ns>urn:Declaration:datamodel:standard:CN:NJHGKJ_120:1</ns>
        <outId>XmlMessage/Response/ORDER_FORM_HEAD/ORG_ORDER_NO</outId>
        <recMsgId>XmlMessage/MessageHead/MessageID</recMsgId>
      </order>
    </government>
  </responseHelper>
</config>