<?xml version="1.0" encoding="utf-8" ?>
<config>
  <goodsDeclUrl>FormatName:Direct=TCP:192.168.67.2\private$\LITB_GOODS_APL</goodsDeclUrl>
  <manifestDeclUrl>FormatName:Direct=TCP:192.168.67.2\private$\LITB_DECL_APL</manifestDeclUrl>
  <orderDeclUrl>FormatName:Direct=TCP:192.168.67.2\private$\LITB_ORDER_APL</orderDeclUrl>

  <responseHelper>
    <goods>
      <ns>urn:Declaration:datamodel:standard:CN:NJHGKJ_100:1</ns>
      <outId>nm:XmlMessage/nm:Response/nm:EX_GOODS_INFO/nm:OUT_ID</outId>
      <recMsgId>nm:XmlMessage/nm:MessageHead/nm:MessageID</recMsgId>
    </goods>
    <manifest>
      <ns>urn:Declaration:datamodel:standard:CN:NJHGKJ_110:1</ns>
      <outId>nm:XmlMessage/nm:Response/nm:EX_DECL_HEAD/nm:OUT_DECL_NO</outId>
      <recMsgId>nm:XmlMessage/nm:MessageHead/nm:MessageID</recMsgId>
    </manifest>
    <order>
      <ns>urn:Declaration:datamodel:standard:CN:NJHGKJ_120:1</ns>
      <outId>nm:XmlMessage/nm:Response/nm:ORDER_FORM_HEAD/nm:ORG_ORDER_NO</outId>
      <recMsgId>nm:XmlMessage/nm:MessageHead/nm:MessageID</recMsgId>
    </order>
  </responseHelper>
</config>